@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<h3 class="text-center">Click on a category below to get started</h3>
<br />

<div class="row">
    <div class="col-md-3">
        <div class="categorywrap">
            <a href="~/Category/Index/1">
                <h2>Dairy</h2>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="categorywrap">
            <a href="~/Category/Index/2">
                <h2>Meats</h2>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="categorywrap">
            <a href="~/Category/Index/3">
                <h2>Bakery</h2>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="categorywraplast">
            <a href="~/Category/Index/4">
                <h2>Fruit &amp; Veg</h2>
            </a>
        </div>
    </div>
</div>
