@model e_commerce_sample.Core.Entity.CustomerOrder
@{
    ViewBag.Title = "Address And Payment";
}

@using (Html.BeginForm("AddressAndPayment", "Checkout",FormMethod.Post))
{
    @Html.AntiForgeryToken();
    <div class="weird">
        <h2>Address And Payment</h2>
        <fieldset>
            <legend>Shopping Information</legend>
            @Html.EditorForModel()
        </fieldset>
        <fieldset>
            <legend>Payment</legend>
            <p>
                We're running a promotion: all item is free
                with the promo code:"FREE"
            </p>
            <div class="editor-label">
                @Html.Label("Promo code")
            </div>
            <div class="editor-field">
                @Html.TextBox("PromoCode")
            </div>
        </fieldset>

        <input type="submit" value="Submit Order"/>
    </div>
}
